<%= page_heading "New Reference Folder" %>

<%= render 'form', form_location: "new" %>

<div class="nav_links">
  <button class="button" type="button"><%= link_to 'Back to Folders', folders_path %></button
</div>
