<p id="notice"><%= notice %></p>

<%= page_heading "Tasks" %>

<%= render 'task_table', tasks: @tasks, proj_name: false, loc_name: true, options: false, time_en: true %>
<br>

<div class="nav_links">
  <%= link_to 'New Task', new_project_task_path(@project) %>
</div>
