<%= page_heading "Filter Results" %>

<%= render 'task_table', tasks: @tasks, proj_name: true, loc_name: false, options: false, time_en: true %>

<div class="nav_links">
  <%= link_to "New Search", search_path %>
</div>
