<%= page_heading "Search Results" %>

<%= render 'task_table', tasks: @tasks, proj_name: true, loc_name: false, options: false, time_en: true, selecting: false %>

<div class="nav_links">
  <button class="button" type="button"><%= link_to "New Search", search_path %></button>
  <button class="button" type="button"><%= link_to "Mass Assign Tags", mass_assign_path(task_ids: @ids, from: "filter") %></button>
</div>
