<div class="add_task">
  <br>
  Each task should be one specific action--be concrete and include as many details as you will need to complete the task later:
  <br>
  <%= render "tasks/form", form_location: "develop", item: item %>
</div>
