<div class="choose_checklist">
  <br>
  Which checklist do you want to add items to?
  <br>
  <% @checklists.each do |checklist| %>
    <button class="button <%=@mode%>" type="button"><%= link_to checklist.name, develop_inbox_path(@inbox, item: item, next_step: "add_to_checklist", checklist: checklist) %></button>
  <% end %>
</div>
