<div class="reference">
  Assign this item to an existing Reference Folder:
  <br>
  <button class="button <%=@mode%>" type="button"><%= link_to "Add item to existing Reference Folder", develop_inbox_path(@inbox, item: item, next_step: "add_ref_item") %></button>
  <br>
  <br>
  Create a new Reference Folder
  <br>
  <button class="button <%=@mode%>" type="button"><%= link_to "Create a new Reference Folder", develop_inbox_path(@inbox, item: item, next_step: "add_folder") %></button>
</div>
