<div class="add_task">
  <br>
  What is the desired outcome of this project? Write that outcome down. The steps to reach that outcome will be captured in the next step.
  <br>
  <%= render "projects/form", form_location: "develop", item: item %>
</div>
