<div class="waiting_checklist">
  <br>
  The item has been automatically added to the Waiting On checklist, so edit it (or split it into multiple entries) and then Save Checklist:
  <br>
  <%= render "checklists/form", form_location: "develop", item: item %>
</div>
