<div class="yes_mult">
  <br>
  Items that take multiple actions to resolve should become projects:
  <br>
  <button class="button" type="button"><%= link_to "Start Project", develop_inbox_path(@inbox, item: item, next_step: "start_project") %></button>
  <br>
  <br>
  If you already have a relevant project, add tasks to it:
  <br>
  <button class="button" type="button"><%= link_to "Add Task to an existing Project", develop_inbox_path(@inbox, item: item, next_step: "add_task") %></button>
  <br>
</div>
