<%= page_heading "Editing Project" %>

<%= render 'form', form_location: "edit" %>

<div class="nav_links">
  <%= link_to 'Show Project', @project %> |
  <%= link_to 'Back to Projects', projects_path %>
</div>
