<div class='nested-fields'>
  <%= f.inputs do %>
    <%= f.input :name, :input_html => { class: @mode } %>
    <div class='links'>
      <button class="button <%=@mode%>" type="button"><%= link_to_remove_association "remove item", f %></button>
    </div>
  <% end %>
</div>
