<div class='nested-fields'>
  <%= f.inputs do %>
    <%= f.input :name %>
    <div class='links'>
      <button class="button" type="button"><%= link_to_remove_association "remove item", f %></button>
    </div>
  <% end %>
</div>
