<%= page_heading "Editing Checklist" %>

<%= render 'form', form_location: "edit" %>

<div class="nav_links">
  <%= link_to 'Show Checklist', @checklist %> |
  <%= link_to 'Back to Checklists', checklists_path %>
</div>
