<%= page_heading "New Checklist" %>

<%= render 'form', form_location: "new" %>

<div class="nav_links">
  <button class="button <%=@mode%>" type="button"><%= link_to 'Back to Checklists', checklists_path %></button>
</div>
