//Common styles for use in selectors

$light: #DCDCDC;
$dark: #333333;
$error: red;

html {
  p.inline-errors {
    color: $error;
  }
  .light-mode {
    background-color: $light;
    color: $dark;
    font-weight: bold;
    a:link {
      color: $dark;
    }
    a:visited {
      color: $dark;
    }
    th {
      background-color: $light;
    }
    thead th {
      border-color: $dark;
    }
  }
  .dark-mode {
    background-color: $dark;
    color: $light;
    font-weight: bold;
    a:link {
      color: $light;
    }
    a:visited {
      color: $light;
    }
    th {
      background-color: $dark;
    }
    thead th {
      border-color: $light;
    }
  }
}

h1.page_title {
  line-height: normal;
}

@mixin form-shared {
  .inputs {
    border: none;
  }
  .actions {
    border: none;
  }
  ol li {
    font-size: 16px;
    list-style-type: none;
    label {
      display: inline-block;
    }
    input {
      border-width: 1px;
      margin: 1px;
    }
  }
  textarea.light-mode {
    outline: none !important;
    width: 100%;
    border-color: $dark;
  }
  textarea.dark-mode {
    outline: none !important;
    width: 100%;
    border-color: $light;
  }
  input.text {
    border-width: 1px;
    .light-mode {
      border-color: $dark;
    }
    .dark-mode {
      border-color: $light;
    }
    width: 100%;
    //box-shadow: 0 0 10px #719ECE;
  }
  li.text label{
    vertical-align: top;
  }
  @include select_style;
  input.button {
    @include button;
  }
}

@mixin table-shared {
  border-collapse: collapse;
  width: 100%;
  white-space:normal;
  word-wrap: break-word;
  table-layout:fixed;

  tbody tr:first-of-type td{
    padding-top: 1em;
  }

  thead th {
    border-bottom: 1px solid;
  }

  th {
    font-size: 16px;
  }
  td {
    font-size: 16px;
  }

  th.options {
    width: 60%;
  }
}

@mixin checkbox-grid {
  ol {
    padding-inline-start: 5px;
  }

  input.checkbox {
    width: 16px;
    height: 16px;
  }

  .checkbox-grid li {
    display: inline-block;
    width: 45%;
    font-size: 16px;
  }
}

@mixin select_style{
  select {
    font-size: 16px;
    border-width: thin;
    border-radius: 5px;
    .light-mode {
      border-color: $dark;
    }
    .dark-mode {
      border-color: $light;
    }
  }
}

@mixin show_page {
  font-size: 16px;
}

@mixin button {
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
}

button.light-mode {
  background-color: $light;
  border-color: $dark;
  color: $dark;
}

button.dark-mode {
  background-color: $dark;
  border-color: $light;
  color: $light;
}

@mixin link_button {
  button.button {
    @include button;
    a {
      text-decoration: none;
    }
    display: inline-block;
    margin-top: 5px;
  }
  text-align: center;
}

div.nav_links {
  @include link_button;
}
