//Common styles for use in selectors

div.nav_links {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  padding: 1em 1.5em;
  text-align: center;
}

@mixin form-shared {
  .inputs {
    border: none;
  }
  .actions {
    border: none;
  }
  ol li {
    font-size: 16px;
    list-style-type: none;
    label {
      display: inline-block;
    }
    input {
      border-width: 1px;
      margin: 1px;
    }
  }
  textarea {
    outline: none !important;
    border-color: black;
    width: 100%;
    //box-shadow: 0 0 10px #719ECE;
  }
  input.text {
    border-width: 1px;
    border-color: black;
    width: 100%;
    //box-shadow: 0 0 10px #719ECE;
  }
  li.text label{
    vertical-align: top;
  }
  @include select_style;
  input.button {
    @include button;
  }
}

@mixin table-shared {
  border-collapse: collapse;
  width: 100%;
  white-space:normal;
  word-wrap: break-word;
  table-layout:fixed;

  tbody tr:first-of-type td{
    padding-top: 1em;
  }

  thead th { border-bottom: 1px solid #000; }

  th {
    font-size: 16px;
    background-color: white;
  }
  td {
    font-size: 16px;
  }

  th.options {
    width: 60%;
  }
}

@mixin checkbox-grid {
  ol {
    padding-inline-start: 5px;
  }

  input.checkbox {
    width: 16px;
    height: 16px;
  }

  .checkbox-grid li {
    display: inline-block;
    width: 45%;
    font-size: 16px;
  }
}

@mixin select_style{
  select {
    font-size: 16px;
    border-color: black;
    border-width: thin;
    border-radius: 5px;
  }
}

@mixin show_page {
  font-size: 16px;
}

@mixin button {
  background-color: white;
  border-color: black;
  border-width: thin;
  border-radius: 5px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
}

@mixin link_button {
  button.button {
    @include button;
    a {
      text-decoration: none;
    }
    display: inline-block;
    margin-top: 5px;
  }
  text-align: center;
}
