// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

form.checklist_form, {
  @include form-shared;
  div.links {
    @include link_button;
  }
}

table.checklists {
  @include table-shared;
}

table.checklist_items {
  @include table-shared;
}
