// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

form.location_form, {
  @include form-shared;
}

table.locations {
  @include table-shared;
}
