// Place all the styles related to the PrintChecklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'common';

form.print_checklist_form, {
  @include form-shared;
  div.links {
    @include link_button;
  }
}

table.print_checklists {
  @include table-shared;
}

table.print_checklist_items {
  @include table-shared;
}
