// Place all the styles related to the RefItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'common';

form.ref_item_form, {
  @include form-shared;
}

table.ref_items {
  @include table-shared;
}
