
@import 'common';

div.search_form {
  font-size: large;
  line-height: 1.5em;

  select {
    font-size: 16px;
    border-color: black;
    border-width: thin;
    border-radius: 5px;
  }

  @include checkbox-grid;
}
