div.search_form {
  font-size: large;
  line-height: 1.5em;

  select {
    font-size: 16px;
    border-color: black;
    border-width: thin;
    border-radius: 5px;
  }

  input.checkbox {
    width: 16px;
    height: 16px;
  }

  input.button {
    background-color: white;
    border-color: black;
    border-width: thin;
    border-radius: 5px;
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
  }

  .checkbox-grid li {
    display: inline-block;
    width: 45%;
    font-size: 16px;
  }
}
