// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

form.task_form, {
  @include form-shared;
}

table.tasks {
  @include table-shared;

  th.completed {
    width: 5%;
  }
  th.time {
    width: 15%;
  }
  th.energy {
    width: 17%;
  }
}

form.tag_task_form {
  @include form-shared;
  label.tag_label {
    text-align: center;
  }

  @include checkbox-grid;
}

div.task_show_page {
  @include show_page;
}
