// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

form.tasks_form, {
  @include form-shared;
}

table.tasks {
  @include table-shared;
}
