<%= page_heading "Editing Location" %>

<%= render 'form' %>

<div class="nav_links">
  <button class="button" type="button"><%= link_to 'Show Location', @location %></button>
  <button class="button" type="button"><%= link_to 'Back to Locations', locations_path %></button>
</div>
