<%= page_heading "New Location" %>

<%= render 'form' %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Locations', locations_path %></button>
</div>
