<div class="action_question">
  Is there an action for this item?
  <button class="button" type="button">Yes (one step)</button>
  <button class="button" type="button">Yes (multiple steps)</button>
  <button class="button" type="button">No</button>
</div>
