<% #This is a way to display each item to process into tasks or other destinations %>

<div class="item_info">
  <%= item.name %>
  <%= item.description %>
</div>

<div class="develop_options"
  <%= render step, item: item %>
</div>
