<%= page_heading "New Bin" %>

<%= render 'form', button_name: "Create Bin" %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Bins', inboxes_path %></button>
</div>
